<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.cg.dao.webcontainer.WebApp">
      <webapp
            context="/core"
            docBase="/WebContents"
            initLevel="50">
         <param
               name="Mobile Server.param1"
               value="Mobile Server.param1">
         </param>
      </webapp>
   </extension>

</plugin>
